p.feature-list-label-p {
	margin-bottom: 0;
}

.menu-item-hidden {
	display: none;
}

/* stylelint-disable selector-max-specificity */
#menu-to-edit .custom-field-select-image {
	margin-left: 0;
}
/* stylelint-enable */

div.menu-item-select-feature-list-wrapper {
	margin-bottom: 0.7em;

	ul.menu-item-select-feature-list {
		display: flex;
		justify-content: space-between;
	}
}

textarea.menu-item-html-editor {
	width: 100%;
	border: none;
	box-shadow: none;
}
